
{# TODO: after working out chunking depending on how it works - #}
                {# choose what/how to add script elsewhere #}

				                <h1>In Progress</h1>

								                {#{% for item in navigation %}
												                    <li>we did it</li>
																	                {% endfor %}

																					                {{ sub|safe }}
																									                adding the safe as demonstrated marks the content to replace the
																													                template var as safe, and wont be auto-escaped/etc

																																	                #}
																																					                <div class="masketta-clan">howdy partner</div>






